*{
    margin: 0;
}
body{
    text-align: center;
}
h1{
    font-family: 'Lobster', cursive;
    font-size: 60px;
    background-color: #379683;
    padding: 10px;
}
.question{
    font-family: 'Itim', cursive;
    font-size: 20px;
    background-color: #5cdb95;
    padding: 20px;
}
.solution{
    font-family: 'Itim', cursive;
    font-size: 35px;                
    background-color: #8ee4af;
    padding-top: 25px;
}
#display-output{
    font-family: 'Lobster', sans-serif;
    font-size: 40px;
    padding: 30px;
}
@media (max-width:767px){
    body{
        width:100%;
    }
}